<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, :size => 40 %>
  </div>
  <% if current_user.nil? %>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.select :user_id, User.all.collect {|x| [x.name, x.id] }%>
  </div>
  <% else %>
    <% @question.user_id = current_user.id %>
    <%= f.hidden_field :user_id %>
  <% end %>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, :cols => 50, :rows => 10 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
