<h2><%= @question.title %></h2>

<table class="question-table">
  <tr>
    <td class="vote-area">
      <% if !current_user.nil? %>
        <%= button_to "+", upvote_question_path(@question) %>
      <% end %>
      <%= @question.total_points %>
      <% if !current_user.nil? %>
        <%= button_to "-", downvote_question_path(@question) %>
      <% end %>
    </td>
    <td class="question-content-area">
      <%=br @question.content %>
    </td>
  </tr>
</table>

<h3>Comments</h3>
<table>
  <% @question.question_comments.each do |comment| %>
    <tr>
      <td>
        <p><%= comment.content %></p>
        <p>by <%= comment.user && comment.user.name %></p>
      </td>
    </tr>
  <% end %>
</table>

<% if !current_user.nil? %>
<%= form_for @comment do |f| %>
Comment: <%= f.text_field :content, :size => 45 %>
<% @comment.user_id = current_user ? current_user.id : 0 %>
<%= f.hidden_field :user_id %>
<%= f.hidden_field :question_id %>
<%= f.button "Submit" %>
<% end %>
<!-- <p><%= link_to "New comment", :action => "new_comment"%></p> -->
<% else %>
<p>Please log in to comment.</p>
<% end %>

<h3>Answers</h3>
<% @question.answers.each do |answer| %>

<table class="answers-table">
  <tr>
    <td class="vote-area">
      <% if !current_user.nil? %>
        <%= button_to "+", upvote_answer_path(answer) %>
      <% end %>
      <%= answer.total_points %>
      <% if !current_user.nil? %>
        <%= button_to "-", downvote_answer_path(answer) %>
      <% end %>
    </td>
    <td class="answer-content-area">
      <p><%=br answer.content %></p>
      <p>by <%= answer.user && answer.user.name %></p>
      <% if answer.answer_comments.length > 0 %>
      <% answer.answer_comments.each do |ac| %>
        <hr />
        <p><%=br ac.content %></p>
        <p>by <%= ac.user && ac.user.name %></p>
      <% end %>
      <% end %>
    </td>
  </tr>
</table>
<% end %>

<% if !current_user.nil? %>
<h4>Submit your answer</h4>
<%= form_for @answer do |f| %>
<%= f.text_area :content, :rows => 8, :cols => 45 %><br />
<% @answer.user_id = current_user.id %>
<%= f.hidden_field :user_id %>
<%= f.hidden_field :question_id %>
<%= f.button "Submit" %>
<% end %>
<% else %>
<p>Please log in to answer.</p>
<% end %>

<p>
<%= link_to 'Back', questions_path %>
</p>