<h2><%= @question.title %></h2>

<table class="question-table">
  <tr>
    <td class="vote-area">
      <% if !current_user.nil? %>
        <%= button_to "+", upvote_question_path(@question) %>
      <% end %>
      <%= @question.total_points %>
      <% if !current_user.nil? %>
        <%= button_to "-", downvote_question_path(@question) %>
      <% end %>
    </td>
    <td class="question-content-area">
      <%=markdown @question.content %>
    </td>
  </tr>
</table>

<p class="question-info-area">
  Question by <%= link_to (@question.user && @question.user.name), @question.user %><br />
  at <%= @question.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
</p>

<div class="comment-area">
<% @question.question_comments.each do |comment| %>
<p class="comment-row"><%= comment.content %> - <%= link_to comment.user.name, comment.user %></p>
<% end %>

<% if !current_user.nil? %>
<%= form_for @comment, html: {class: "comment-row"} do |f| %>
Comment: <%= f.text_field :content, :size => 45 %>
<% @comment.user_id = current_user ? current_user.id : 0 %>
<%= f.hidden_field :user_id %>
<%= f.hidden_field :question_id %>
<%= f.button "Submit" %>
<% end %>
<!-- <p><%= link_to "New comment", :action => "new_comment"%></p> -->
<% else %>
<p class="comment-row">Please log in to comment.</p>
<% end %>
</div>

<h2>Answers</h2>
<% @question.answers.each do |answer| %>

<table class="answers-table">
  <tr>
    <td class="vote-area">
      <% if !current_user.nil? %>
        <%= button_to "+", upvote_answer_path(answer) %>
      <% end %>
      <%= answer.total_points %>
      <% if !current_user.nil? %>
        <%= button_to "-", downvote_answer_path(answer) %>
      <% end %>
    </td>
    <td class="answer-content-area">

      <p><%=markdown answer.content %></p>

      <p class="answer-info-area">
        Answer by <%= link_to (answer.user && answer.user.name), answer.user %><br />
        at <%= answer.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
      </p>

      <div class="comment-area">
      <% if answer.answer_comments.length > 0 %>
        <% answer.answer_comments.each do |ac| %>
          <p class="comment-row"><%=br ac.content %> - <%= link_to (ac.user && ac.user.name), ac.user %></p>
        <% end %>
      <% end %>
      <% if !current_user.nil? %>
        <% ac = AnswerComment.new %>
        <% ac.answer_id = answer.id %>
        <% ac.user_id = current_user.id %>
        <%= form_for ac, html: {class: "comment-row"} do |f| %>
          Comment: <%= f.text_field :content, :size => 45 %>
          <%= f.hidden_field :user_id %>
          <%= f.hidden_field :answer_id %>
          <%= f.button "Submit" %>
        <% end %>
      <% end %>
      </div>
    </td>
  </tr>
</table>
<% end %>

<% if !current_user.nil? %>
<h4>Submit your answer</h4>
<%= form_for @answer do |f| %>
<%= f.text_area :content, :rows => 8, :cols => 45 %><br />
<% @answer.user_id = current_user.id %>
<%= f.hidden_field :user_id %>
<%= f.hidden_field :question_id %>
<%= f.button "Submit" %>
<% end %>
<% else %>
<p>Please log in to answer.</p>
<% end %>

<p>
<%= link_to 'Back', root_path %>
</p>