<p id="notice"><%= notice %></p>

<p>
<b>Content: </b><br />
<%=br @answer.content %>
</p>

<p>
<b>User Name: </b><br />
<%= @answer.user && @answer.user.name %>
</p>

<p>
<b>Question Title: </b><br />
<%= @answer.question.title %>
</p>

<h2>Answer Votes</h2>
Votes: <%= @answer.total_points %>

<h2>Answer Comments</h2>
<% @answer.answer_comments.each do |anscom| %>
	<ul>
		<li>Content: <%= anscom.content %></li>
		<li>Comment by: <%= anscom.user && anscom.user.email %></li>
	</ul>
<% end %>


<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
