<h2>Questions</h2>
<table>
<% @questions.each do |question| %>
<tr>
	<td class="center votes"><%= question.total_points %><br />votes</td>
	<td class="center answers"><%= question.answers.length %><br />answers</td>
	<td class="center views">0<br />views</td>
	<td>
	<%= link_to question.title, question %><br />
	asked by <%= question.user && question.user.name %>
	at <%= question.updated_at.strftime('%H:%M:%S, %b %d, %Y') %>
	</td>
</tr>
<% end %>
<table>
<% if !current_user.nil? %>
<p><%= link_to "New Question", new_question_path %></p>
<% end %>