<!DOCTYPE html>
<html>
<head>
  <title>Stack Underflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
<div id="title">
<h1>Stack Underflow</h1>
<p>stack overflow modoki</p>
<p id="notice"><%= notice %></p>
</div>
<div id="sidebar">
<h2>Sign in</h2>
<ul>
	<% if current_user %>
	<li>Signed in as: <%= link_to (current_user.name.nil? ? "No name" : current_user.name), edit_user_registration_path %></li>
	<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
	<% else %>
	<li><%= link_to "Sign In", new_user_session_path %></li>
	<% end %>
</ul>
<h2>Links</h2>
<ul>
	<li><%= link_to "Top", root_path %></li>
	<li><%= link_to "Users", users_path %></li>
</ul>
<h2>Admin Functions</h2>
<ul>
	<li><%= link_to "Answers", answers_path %></li>
	<li><%= link_to "Answer Comments", answer_comments_path %></li>
	<li><%= link_to "Answer Votes", answer_votes_path %></li>
	<li><%= link_to "Questions", questions_path %></li>
	<li><%= link_to "Question Comments", question_comments_path %></li>
	<li><%= link_to "Question Votes", question_votes_path %></li>
</ul>
</div>
<div id="main">
<%= yield %>
</div>
</div>

</body>
</html>
